.infoTab {
    width:200px;
    text-align: center;
    padding:10px;
    min-height: auto;

}

.imageplace {
    height:100px;
    background-size: contain;
    width:100%;

}

.submit {
    width:50px;
    height:30px;
    color:black;
    font-weight: bolder;
    margin-top:15px;

}

p {
    font-size: 20pt;
    font-weight:bolder;
    margin-top: 15px;

}

.mapList {
    font-size:14pt;
    font-weight:bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#filter {
    display:flex;
    column-gap: 15px;
    font-size: 14pt;
    font-weight:bolder;
    margin-bottom: 20px;

}
#box0 {
    flex:2;
    border-radius:5px;
}

#box1 {
    flex:2;
    border-radius: 5px;
}
#box2 {
    flex:2;
    border-radius: 5px;

}
#box3 {
    flex:2;
    border-radius: 5px;

}
#box4 {
    flex:2;
    border-radius: 5px;

}
#box5 {
    flex:2;
    border-radius: 5px;

}
#edit {
    display:flex;
    column-gap: 15px;


}
#remove {
    margin-top:10px;
    border-radius: 5px;
    color:black;
    flex:2;

}

#confirm {
    margin-top:10px;
    border-radius: 5px;
    color:black;
    flex:2;
}


h3 {
    font-size: 15pt;
    font-weight:bolder;
    margin-top: 15px;

}